<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373826412993-m7bnisli08i0be8908aj1346ujhn7lpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373826412993-m7bnisli08i0be8908aj1346ujhn7lpo</string>
	<key>API_KEY</key>
	<string>AIzaSyCMjzt_gISXy60gqrKdnNy6ZloXoDCrg8c</string>
	<key>GCM_SENDER_ID</key>
	<string>373826412993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp</string>
	<key>PROJECT_ID</key>
	<string>notes-app-8c55e</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-8c55e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373826412993:ios:065e49b33dc2a8749c8f40</string>
</dict>
</plist>